In [100]:
import numpy as np
import pandas as pd
import os
os.chdir("/Users/binfang/Documents/NYCDSA/project/Project_5/data/processed_data")
junedataall = pd.read_csv("junedataall.csv", index_col=False, sep="\t")
junedataall = pd.DataFrame(junedataall)
junedataall.head()

,Unnamed: 0,Date,Distance,Lat,Lon,Payment,Tip,Total,Type,Temp,Rain,Snow
0,0,2014-06-30-00,4.4,40.720134,-73.994076,CRD,2.5,19.0,yellow,73.0,0.0,0.0
1,1,2014-06-30-02,3.0,40.741116,-74.007392,CRD,2.6,15.6,yellow,74.0,0.0,0.0
2,2,2014-06-30-03,4.7,40.740136,-74.005937,CRD,3.4,20.4,yellow,73.0,0.0,0.0
3,3,2014-06-30-00,4.6,40.756408,-73.986055,CRD,1.0,18.0,yellow,73.0,0.0,0.0
4,4,2014-06-30-01,2.5,40.706921,-73.948077,CRD,2.1,12.6,yellow,73.0,0.0,0.0

In [101]:
junedataall.drop("Unnamed: 0",axis=1, inplace=True)
junedataall.head()

,Date,Distance,Lat,Lon,Payment,Tip,Total,Type,Temp,Rain,Snow
0,2014-06-30-00,4.4,40.720134,-73.994076,CRD,2.5,19.0,yellow,73.0,0.0,0.0
1,2014-06-30-02,3.0,40.741116,-74.007392,CRD,2.6,15.6,yellow,74.0,0.0,0.0
2,2014-06-30-03,4.7,40.740136,-74.005937,CRD,3.4,20.4,yellow,73.0,0.0,0.0
3,2014-06-30-00,4.6,40.756408,-73.986055,CRD,1.0,18.0,yellow,73.0,0.0,0.0
4,2014-06-30-01,2.5,40.706921,-73.948077,CRD,2.1,12.6,yellow,73.0,0.0,0.0

In [102]:
# from geopy.geocoders import Nominatim
# geolocator = Nominatim()
# location1 = geolocator.reverse("40.720134, -73.994076")
# location2 = geolocator.reverse("40.741116, -74.007392")
# location3 = geolocator.reverse("40.740136, -74.005937")
# location4 = geolocator.reverse("40.756408, -73.986055")
# location5 = geolocator.reverse("40.706921, -73.948077")
# print(location1.address)
# print(location2.address)
# print(location3.address)
# print(location4.address)
# print(location5.address)

171, Bowery, Little Italy, Manhattan, New York County, NYC, New York, 10002, United States of America
860, Washington Street, Chelsea, Manhattan, New York County, NYC, New York, 10014, United States of America
Hotel Gansevoort, 18, 9th Avenue, Chelsea, Manhattan, New York County, NYC, New York, 10014, United States of America
Cond√© Nast Building, 4, West 43rd Street, Diamond District, Manhattan, New York County, NYC, New York, 10036, United States of America
49, Montrose Avenue, Williamsburg, Kings County, NYC, New York, 11206, United States of America

In [103]:
# from geopy.geocoders import Nominatim
# import re
# geolocator = Nominatim()
# lat = junedataall["Lat"][0]
# lon = junedataall["Lon"][0]
# coord = str(lat) + "," + str(lon)
# # print coord
# location = geolocator.reverse(coord)
# # print location
# p1 = str(re.findall(r"\D(\d{5})\D", location.address))
# print str(filter(str.isdigit, p1))

10002

In [104]:
#########################################################################################################
## Add new column Coordinates
junedataall["Lat"] = junedataall["Lat"].astype(str)
junedataall["Lon"] = junedataall["Lon"].astype(str)
junedataall["Coord"] = junedataall[["Lat", "Lon"]].apply(lambda x: ",".join(x), axis=1)

In [105]:
junedataall.head()

,Date,Distance,Lat,Lon,Payment,Tip,Total,Type,Temp,Rain,Snow,Coord
0,2014-06-30-00,4.4,40.720134,-73.994076,CRD,2.5,19.0,yellow,73.0,0.0,0.0,"40.720134,-73.994076"
1,2014-06-30-02,3.0,40.741116,-74.007392,CRD,2.6,15.6,yellow,74.0,0.0,0.0,"40.741116,-74.007392"
2,2014-06-30-03,4.7,40.740136,-74.005937,CRD,3.4,20.4,yellow,73.0,0.0,0.0,"40.740136,-74.005937"
3,2014-06-30-00,4.6,40.756408,-73.986055,CRD,1.0,18.0,yellow,73.0,0.0,0.0,"40.756408,-73.986055"
4,2014-06-30-01,2.5,40.706921,-73.948077,CRD,2.1,12.6,yellow,73.0,0.0,0.0,"40.706921,-73.948077"

In [106]:
# print junedataall["Coord"][0]

40.720134,-73.994076

In [152]:
from geopy.geocoders import Nominatim
import re
geolocator = Nominatim()
zipcode = {}
for n in range(100):
    location = geolocator.reverse(junedataall["Coord"][n])
    if location.address == None:
        zipcode[n] = "NaN"
    else:
        num = str(re.findall(r"\D(\d{5})\D", location.address))
        num = str(filter(str.isdigit, num))
        zipcode[n] = num        
print zipcode

{0: '10002', 1: '10014', 2: '10014', 3: '10036', 4: '11206', 5: '10001', 6: '10019', 7: '10007', 8: '10003', 9: '10017', 10: '10001', 11: '10014', 12: '10014', 13: '10038', 14: '10013', 15: '10115', 16: '10002', 17: '10021', 18: '10002', 19: '10001', 20: '10023', 21: '11249', 22: 'NaN', 23: '10019', 24: '10023', 25: '10011', 26: '10017', 27: '10065', 28: '10016', 29: '10282', 30: '10035', 31: '10014', 32: '10028', 33: '10022', 34: '10022', 35: '10016', 36: '10075', 37: '10011', 38: '10021', 39: '10024', 40: '10018', 41: '10001', 42: '10011', 43: '10019', 44: '10128', 45: '10035', 46: '10021', 47: '10018', 48: '10282', 49: '10018', 50: '10016', 51: '10018', 52: '10002', 53: '10022', 54: '10009', 55: '07302', 56: 'NaN', 57: '10012', 58: '10075', 59: '11221', 60: '11232', 61: '11104', 62: '10024', 63: '10019', 64: '11010', 65: '10003', 66: '10013', 67: '11101', 68: '10003', 69: '10021', 70: '10037', 71: '10016', 72: '11369', 73: '10029', 74: '11215', 75: '10024', 76: '10011', 77: '11010', 78: '10019', 79: '10003', 80: '10029', 81: '10005', 82: '10019', 83: '10036', 84: '10004', 85: '10001', 86: '10002', 87: '10065', 88: '10014', 89: '10013', 90: '10036', 91: '10018', 92: '10002', 93: '11211', 94: '10036', 95: '10014', 96: '11010', 97: '10011', 98: '10001', 99: '10019'}