In [1]:
import numpy as np
from scipy import stats
from sklearn import linear_model
ols = linear_model.LinearRegression()

In [2]:
import numpy as np
import pandas as pd
import os
os.chdir("/Users/binfang/Desktop")
nycmodel1=pd.read_csv('nycmodeldata.csv', sep='\t', encoding='utf-8', index_col=False, dtype={'zipcode':'S10'})

In [3]:
nycmodel1.shape

(613548, 8)

In [4]:
nycmodel1.head()

   Unnamed: 0  Month  Weekday  Hour  Temp  Rain zipcode  count
0          11      4        1     0  49.0   0.0   10001    375
1          12      4        1     0  49.0   0.0   10002    332
2          13      4        1     0  49.0   0.0   10003    521
3          14      4        1     0  49.0   0.0   10004     49
4          15      4        1     0  49.0   0.0   10005     55

In [5]:
nycmodel1.drop(['Unnamed: 0'], inplace=True, axis=1)

In [6]:
nycmodel1['zipcode']=nycmodel1['zipcode'].astype(str)

In [7]:
just_dummies = pd.get_dummies(nycmodel1['zipcode'])

In [8]:
just_dummies.head()

,10001,10002,10003,10004,10005,10006,10007,10009,10010,10011,...,11428,11429,11430,11432,11433,11434,11435,11436,11439,11451
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
just_dummies=just_dummies.applymap(np.int)

In [10]:
just_dummies.head()

,10001,10002,10003,10004,10005,10006,10007,10009,10010,10011,...,11428,11429,11430,11432,11433,11434,11435,11436,11439,11451
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
nycmodel1['Weekday1']=nycmodel1['Weekday'].astype(str)

In [12]:
nycmodel1['Hour1']=nycmodel1['Hour'].astype(str)

In [13]:
nycmodel1['zipcodeHour1']=nycmodel1[['zipcode', 'Hour1']].apply(lambda x:"_".join(x), axis=1)

In [14]:
nycmodel1.head()

   Month  Weekday  Hour  Temp  Rain zipcode  count Weekday1 Hour1 zipcodeHour1
0      4        1     0  49.0   0.0   10001    375        1     0      10001_0
1      4        1     0  49.0   0.0   10002    332        1     0      10002_0
2      4        1     0  49.0   0.0   10003    521        1     0      10003_0
3      4        1     0  49.0   0.0   10004     49        1     0      10004_0
4      4        1     0  49.0   0.0   10005     55        1     0      10005_0

In [15]:
just_dummies2 = pd.get_dummies(nycmodel1['zipcodeHour1'])

In [16]:
just_dummies2.shape

(613548, 4673)

In [17]:
just_dummies2.head()

,10001_0,10001_1,10001_10,10001_11,10001_12,10001_13,10001_14,10001_15,10001_16,10001_17,...,11451_20,11451_21,11451_22,11451_23,11451_3,11451_4,11451_6,11451_7,11451_8,11451_9
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
just_dummies2.to_csv('just_dummies2.csv', sep='\t', encoding='utf-8')

KeyboardInterrupt:

In [ ]:
just_dummies2=just_dummies2.applymap(np.int)

In [ ]:
nycmodel1['zipcodeweekdayHour1']=nycmodel1[['zipcode','Weekday1','Hour1']].apply(lambda x:"_".join(x), axis=1)

In [ ]:
nycmodel2=pd.concat([nycmodel1, just_dummies],axis=1)

In [ ]:
nycmodel3=pd.concat([nycmodel2, just_dummies2],axis=1)

In [ ]:
#len(set(nycmodel1['zipcodeweekdayHour1']))

In [ ]:
zwh=list(set(nycmodel1['zipcodeweekdayHour1']))

In [ ]:
zwhdf=pd.DataFrame(zwh, columns=['zipcode'])

In [ ]:
zwhdf.shape

In [ ]:
just_dummiest=pd.get_dummies(zwh)

In [ ]:
just_dummiest.shape

In [ ]:
just_dummiest

In [ ]:
just_dummiest.head()

In [ ]:
just_dummiest['zipcodeweekdayHour1']=list(set(nycmodel1['zipcodeweekdayHour1']))

In [ ]:
nycmodel4=pd.merge(nycmodel3, just_dummies2,on='zipcodeweekdayHour1', how='left')