In [34]:
import numpy as np
from scipy import stats
from sklearn import linear_model
ols = linear_model.LinearRegression()

In [35]:
import numpy as np
import pandas as pd
import os
os.chdir("/Users/shuozhang/Desktop/data")
nycmodel=pd.read_csv('nycmodeldata.csv', sep='\t', encoding='utf-8', index_col=False, dtype={'zipcode':'S10'})

In [36]:
nycmodel.dtypes

Unnamed: 0      int64
Month           int64
Weekday         int64
Hour            int64
Temp          float64
Rain          float64
zipcode        object
count           int64
dtype: object

In [37]:
nycmodel.describe()

,Unnamed: 0,Month,Weekday,Hour,Temp,Rain,count
count,613548.000000,613548.000000,613548.000000,613548.000000,613548.000000,613548.000000,613548.000000
mean,351665.410605,6.516801,3.026107,11.790823,67.775626,0.002052,118.682903
std,205065.403608,1.701231,2.001084,6.873809,10.683201,0.014494,254.076062
min,11.000000,4.000000,0.000000,0.000000,32.000000,0.000000,1.000000
25%,173945.750000,5.000000,1.000000,6.000000,62.000000,0.000000,3.000000
50%,349474.500000,7.000000,3.000000,12.000000,69.000000,0.000000,14.000000
75%,529041.250000,8.000000,5.000000,18.000000,75.000000,0.000000,75.000000
max,710322.000000,9.000000,6.000000,23.000000,92.000000,0.420000,2346.000000

In [38]:
nycmodel.shape

(613548, 8)

In [39]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
just_dummies = pd.get_dummies(nycmodel['zipcode'])

In [158]:
just_dummies.head()

,10001,10002,10003,10004,10005,10006,10007,10009,10010,10011,...,11428,11429,11430,11432,11433,11434,11435,11436,11439,11451
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
just_dummies1=just_dummies.applymap(np.int)

In [ ]:
step_1 = pd.concat([nycmodel, just_dummies1], axis=1)

In [36]:
step_1.head()

,Unnamed: 0,Month,Weekday,Hour,Temp,Rain,zipcode,count,10001,10002,...,11428,11429,11430,11432,11433,11434,11435,11436,11439,11451
0,11,4,1,0,49.0,0.0,10001,375,1,0,...,0,0,0,0,0,0,0,0,0,0
1,12,4,1,0,49.0,0.0,10002,332,0,1,...,0,0,0,0,0,0,0,0,0,0
2,13,4,1,0,49.0,0.0,10003,521,0,0,...,0,0,0,0,0,0,0,0,0,0
3,14,4,1,0,49.0,0.0,10004,49,0,0,...,0,0,0,0,0,0,0,0,0,0
4,15,4,1,0,49.0,0.0,10005,55,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
step_1.drop(['zipcode','Unnamed: 0'], inplace=True, axis=1)

In [140]:
step_1.head()

,Month,Weekday,Hour,Temp,Rain,count,10001,10002,10003,10004,...,11428,11429,11430,11432,11433,11434,11435,11436,11439,11451
0,4,1,0,49.0,0.0,375,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,1,0,49.0,0.0,332,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,1,0,49.0,0.0,521,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,49.0,0.0,49,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,4,1,0,49.0,0.0,55,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
step_1.shape

(7940, 204)

In [122]:
step_1.dtypes

Month        int64
Weekday      int64
Hour         int64
Temp       float64
Rain       float64
count        int64
10001        int64
10002        int64
10003        int64
10004        int64
10005        int64
10006        int64
10007        int64
10009        int64
10010        int64
10011        int64
10012        int64
10013        int64
10014        int64
10016        int64
10017        int64
10018        int64
10019        int64
10020        int64
10021        int64
10022        int64
10023        int64
10024        int64
10025        int64
10026        int64
            ...
11374        int64
11375        int64
11377        int64
11378        int64
11379        int64
11385        int64
11411        int64
11412        int64
11413        int64
11414        int64
11415        int64
11416        int64
11417        int64
11418        int64
11419        int64
11420        int64
11421        int64
11422        int64
11423        int64
11426        int64
11427        int64
11428        int64
11429        int64
11430        int64
11432        int64
11433        int64
11434        int64
11435        int64
11436        int64
11439        int64
dtype: object

In [52]:
import numpy as np
import pandas as pd
import os
os.chdir("/Users/shuozhang/Desktop/data")

In [9]:
import numpy as np
import pandas as pd
import os
os.chdir("/Users/shuozhang/Desktop/data")
step_1=pd.read_csv('lmmodel.csv', sep='\t', encoding='utf-8')

In [10]:
step_1.shape

(613548, 205)

In [11]:
step_1.head()

,Unnamed: 0,Month,Weekday,Hour,Temp,Rain,count,10001,10002,10003,...,11428,11429,11430,11432,11433,11434,11435,11436,11439,11451
0,0,4,1,0,49.0,0.0,375,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,4,1,0,49.0,0.0,332,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,4,1,0,49.0,0.0,521,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3,4,1,0,49.0,0.0,49,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,4,1,0,49.0,0.0,55,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
step_1.drop(['Unnamed: 0'], inplace=True, axis=1)

In [4]:
step_1.dtypes

Month        int64
Weekday      int64
Hour         int64
Temp       float64
Rain       float64
count        int64
10001        int64
10002        int64
10003        int64
10004        int64
10005        int64
10006        int64
10007        int64
10009        int64
10010        int64
10011        int64
10012        int64
10013        int64
10014        int64
10016        int64
10017        int64
10018        int64
10019        int64
10020        int64
10021        int64
10022        int64
10023        int64
10024        int64
10025        int64
10026        int64
            ...
11375        int64
11377        int64
11378        int64
11379        int64
11385        int64
11411        int64
11412        int64
11413        int64
11414        int64
11415        int64
11416        int64
11417        int64
11418        int64
11419        int64
11420        int64
11421        int64
11422        int64
11423        int64
11426        int64
11427        int64
11428        int64
11429        int64
11430        int64
11432        int64
11433        int64
11434        int64
11435        int64
11436        int64
11439        int64
11451        int64
dtype: object

In [13]:
target=step_1[['count']]

In [14]:
target.head()

   count
0    375
1    332
2    521
3     49
4     55

In [15]:
data=step_1[[col for col in step_1.columns if col not in ['count']]]

In [16]:
data.head()

,Month,Weekday,Hour,Temp,Rain,10001,10002,10003,10004,10005,...,11428,11429,11430,11432,11433,11434,11435,11436,11439,11451
0,4,1,0,49.0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,1,0,49.0,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,1,0,49.0,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,49.0,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1,0,49.0,0.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [17]:
data.shape

(613548, 203)

In [62]:
import sklearn.cross_validation as cv
x_train, x_test, y_train, y_test = cv.train_test_split(data, target, 
  test_size=2.0/10, random_state=0)

In [11]:
import numpy as np
from scipy import stats
from sklearn import linear_model
ols = linear_model.LinearRegression()
ols.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [12]:
'training R^2: %.2f',ols.score(x_train, y_train)

('training R^2: %.2f', 0.7486516205145084)

In [14]:
'testing R^2: %.2f',ols.score(x_test, y_test)

('testing R^2: %.2f', 0.75619013989501127)

In [15]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_train, ols.predict(x_train))

16218.902688771979

In [16]:
mean_squared_error(y_test, ols.predict(x_test))

15765.279169291796

In [151]:
data.head()

,Month,Weekday,Hour,Temp,Rain,10001,10002,10003,10004,10005,...,11428,11429,11430,11432,11433,11434,11435,11436,11439,11451
0,4,1,0,49.0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,1,0,49.0,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,1,0,49.0,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,49.0,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1,0,49.0,0.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [17]:
from __future__ import print_function
from __future__ import division
from sklearn.cross_validation import cross_val_score
from sklearn import linear_model
from bayes_opt import BayesianOptimization
from sklearn import metrics
import math
data=x_train
target=y_train
def Ridgecv(alpha):
    return cross_val_score(linear_model.Ridge(alpha=float(alpha), random_state=2),
                           data, target, 'mean_squared_error', cv=5).mean()

if __name__ == "__main__":

    RidgeBO = BayesianOptimization(Ridgecv, {'alpha': (0, 8)})
    RidgeBO.maximize(init_points=2, n_iter = 10)
    print('Final Results')
    print('Ridge: %f' % RidgeBO.res['max']['max_val'])

Initialization
-----------------------------------------
 Step |   Time |      Value |     alpha |
    1 | 00m48s | -16229.75479 |    2.1528 |
    2 | 00m44s | -16229.94514 |    4.5198 |
Bayesian Optimization
-----------------------------------------
 Step |   Time |      Value |     alpha |
    3 | 00m48s | -16229.75566 |    2.1697 |
    4 | 00m41s | -16229.71486 |    1.0765 |
    5 | 01m55s | -16229.70894 |    0.0000 |
    6 | 00m55s | -16229.70739 |    0.4542 |
    7 | 00m44s | -16230.44216 |    8.0000 |
    8 | 00m50s | -16229.70776 |    0.2423 |
    9 | 00m48s | -16229.70851 |    0.6618 |
   10 | 00m41s | -16229.70735 |    0.3806 |
   11 | 00m41s | -16229.70734 |    0.4010 |
   12 | 00m40s | -16229.70734 |    0.3985 |
Final Results
Ridge: -16229.707340

In [ ]:
#Value |     alpha | 
#-16229.70739 |    0.4542

In [18]:
ridge = linear_model.Ridge(alpha=0.3985)
ridge.fit(x_train, y_train)

Ridge(alpha=0.3985, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [19]:
ridge.score(x_train, y_train)

0.74865158708202273

In [20]:
ridge.score(x_train, y_train)

0.74865158708202273

In [110]:
ridge.score(x_test, y_test)

0.75190608898197675

In [21]:
mean_squared_error(y_train, ridge.predict(x_train))

16218.904846089375

In [22]:
mean_squared_error(y_test, ridge.predict(x_test))

15765.342815939628

In [18]:
#feature engineering
import sklearn.cross_validation as cv
x_trainsub, x_testsub, y_trainsub, y_testsub = cv.train_test_split(data, target, 
  test_size=9.0/10, random_state=0)

In [22]:
from sklearn.ensemble import RandomForestRegressor

In [23]:
RFR=RandomForestRegressor(max_features=14,n_estimators=300)

In [25]:
RFR.fit(x_trainsub, y_trainsub)

/Users/shuozhang/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=14, max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=300, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [26]:
feature_imprtance = zip(x_trainsub.columns, RFR.feature_importances_)
dtype = [('feature', 'S10'), ('importance', 'float')]
feature_imprtance = np.array(feature_imprtance, dtype = dtype)
feature_sort = np.sort(feature_imprtance, order='importance')[::-1]
feature_sort

array([('Hour', 0.12729397179125934), ('10019', 0.1182810466811086),
       ('10016', 0.07787883494352378), ('10022', 0.06468753955236582),
       ('10011', 0.05955491515061628), ('10001', 0.05597750554921143),
       ('10003', 0.052201361015980934), ('Temp', 0.03788923526999576),
       ('Weekday', 0.03508408378412548), ('10036', 0.03452552437616951),
       ('10023', 0.03267357463523955), ('10017', 0.03013723700904612),
       ('10021', 0.02717078757184333), ('10012', 0.023182136918887847),
       ('10010', 0.023148965006179075), ('10065', 0.022946323733158924),
       ('10014', 0.017522256217495518), ('10028', 0.01702042107917143),
       ('Month', 0.016773592551213797), ('10024', 0.013230931801299549),
       ('10018', 0.013100258709988882), ('10013', 0.012374116934498861),
       ('10025', 0.011245050347024374), ('10128', 0.01011023606571611),
       ('10009', 0.010003418718409483), ('10002', 0.009625871548338397),
       ('11369', 0.008365745351010352), ('Rain', 0.004140816423970791),
       ('10035', 0.003644764691825184), ('10075', 0.0033233634004036735),
       ('10037', 0.003198369287806918), ('11211', 0.002194305948040862),
       ('11201', 0.002129741422548424), ('10029', 0.0020144183098421355),
       ('10038', 0.0015826167406570403), ('10007', 0.0012811987732840777),
       ('10027', 0.0011112462838528334), ('11101', 0.0007614430500329467),
       ('10005', 0.0006750379901864159), ('11249', 0.0006286332756799801),
       ('11217', 0.0005380348608911917), ('11373', 0.000460027942408308),
       ('10004', 0.00038184729994094637), ('10026', 0.0003079539948021345),
       ('11210', 0.00030001938508249785),
       ('11215', 0.00028789315478913583), ('11432', 0.000252366884432473),
       ('11222', 0.00024519373346884376),
       ('11213', 0.00023760694442728658), ('11377', 0.0002330978393980284),
       ('10472', 0.000228908617579124), ('11218', 0.00022888124335768007),
       ('11378', 0.00022011839533495192), ('11106', 0.0001830470621243799),
       ('11207', 0.00018277296637053423),
       ('11436', 0.00017900114248298396),
       ('11103', 0.00017311233379030644), ('11203', 0.0001695666686844477),
       ('11226', 0.00016678557210818583),
       ('11385', 0.00016051784056407212),
       ('10282', 0.00016012069286995873),
       ('10457', 0.00016009082020294497), ('11355', 0.000159953248177322),
       ('10460', 0.00015816824889717057),
       ('11232', 0.00013987112054258063),
       ('10455', 0.00013400781304115893),
       ('11225', 0.00013334648412250015), ('11206', 0.0001293123747301961),
       ('11238', 0.0001266944272910384), ('10459', 0.00012447612130389062),
       ('10453', 0.00012422398806029907), ('11430', 0.0001225066416967579),
       ('11367', 0.00012065121436364426),
       ('11230', 0.00011872417673552508),
       ('11235', 0.00011626134886311495),
       ('10044', 0.00011546302117073258), ('11231', 0.0001153063059556373),
       ('10462', 0.00011329943391918384),
       ('10039', 0.00011110818267419177),
       ('10006', 0.00010893017107597656),
       ('10454', 0.00010846047930215439),
       ('10452', 0.00010845079700120953),
       ('10031', 0.00010762709475581645),
       ('11420', 0.00010738131968425392), ('10467', 9.330753714438522e-05),
       ('11370', 9.099195198691523e-05), ('11212', 8.870576411101574e-05),
       ('11374', 8.748438137704052e-05), ('11375', 8.352218694521405e-05),
       ('10468', 8.233110582769296e-05), ('11205', 8.157570978103647e-05),
       ('11224', 8.12752009483396e-05), ('10463', 7.964171226197807e-05),
       ('11102', 7.79853742274274e-05), ('10473', 7.786518652722856e-05),
       ('11379', 7.768092233584981e-05), ('10032', 7.567090720179636e-05),
       ('11234', 7.249105932787256e-05), ('11209', 7.183271194839198e-05),
       ('10461', 6.746215564622651e-05), ('11354', 6.543204141604657e-05),
       ('10456', 6.477123306297135e-05), ('11220', 6.107914666782772e-05),
       ('11415', 5.919300354640708e-05), ('11233', 5.876684266824934e-05),
       ('11216', 5.621092427927042e-05), ('10280', 5.5931043028490124e-05),
       ('11418', 5.52568496635967e-05), ('11208', 5.52229070244096e-05),
       ('10281', 5.398180618405503e-05), ('10458', 5.0517394068739436e-05),
       ('11237', 4.733442873909558e-05), ('11236', 4.601094414980757e-05),
       ('11419', 4.410222401922544e-05), ('11371', 4.293912988798574e-05),
       ('10107', 4.217324487224495e-05), ('10069', 4.038494174925964e-05),
       ('10048', 3.972045052762676e-05), ('10469', 3.902589142331941e-05),
       ('11219', 3.8959627781365606e-05), ('11221', 3.590553159103358e-05),
       ('11368', 3.5205943075295956e-05),
       ('11223', 3.4178111901107484e-05), ('11104', 3.379470788857889e-05),
       ('10034', 3.122166653813298e-05), ('10030', 3.0255445957526357e-05),
       ('11435', 2.9847148696787133e-05),
       ('10168', 2.7864159286474343e-05),
       ('10451', 2.7405985800051096e-05),
       ('11105', 2.7298879709179887e-05),
       ('10033', 2.7066923075538703e-05),
       ('10270', 2.6757912835016317e-05), ('11372', 2.631852083300274e-05),
       ('11434', 2.574713473071804e-05), ('10471', 2.329096010014964e-05),
       ('10020', 2.2496997841669162e-05),
       ('10155', 2.2150439811860847e-05),
       ('10112', 2.2102932328046298e-05),
       ('11433', 2.1076702072650344e-05),
       ('10040', 2.0569007088092973e-05),
       ('10153', 2.0121433136002307e-05),
       ('11421', 1.7575989137968124e-05), ('11214', 1.731498812469903e-05),
       ('10465', 1.7134734631623026e-05),
       ('11229', 1.5700659669355723e-05),
       ('10154', 1.4542869378920964e-05),
       ('11228', 1.1748611144539608e-05),
       ('11417', 1.1686134544049956e-05),
       ('11120', 1.0450164924771924e-05), ('10470', 9.942316870522657e-06),
       ('10474', 9.895212330160584e-06), ('10466', 9.153345655712629e-06),
       ('11204', 9.12919446620317e-06), ('11361', 7.999850038183055e-06),
       ('10475', 7.830438114514387e-06), ('11365', 7.5488771505644545e-06),
       ('11416', 6.390448044188941e-06), ('11358', 5.176924900253064e-06),
       ('11422', 4.7034654899378785e-06), ('11239', 4.61113300064568e-06),
       ('11356', 4.609565926854578e-06), ('11357', 4.47506673277483e-06),
       ('11366', 4.474512124656587e-06), ('11413', 4.247380853786616e-06),
       ('11423', 3.883209340348673e-06), ('11427', 3.800746228798569e-06),
       ('11360', 3.6302629030283498e-06),
       ('11414', 3.5007438451911786e-06), ('11364', 3.236054423167012e-06),
       ('11426', 2.9767175045231023e-06), ('11412', 2.855641441049762e-06),
       ('11429', 2.5229250367584204e-06),
       ('10301', 2.3799480794535945e-06), ('11001', 2.210691390611789e-06),
       ('11428', 2.1892449394599116e-06),
       ('11003', 2.1372350308839567e-06),
       ('10464', 2.0910843714627616e-06),
       ('10305', 1.8876730663182553e-06), ('11451', 1.822302528566419e-06),
       ('11252', 1.5772144733078808e-06),
       ('10115', 1.3820488438249958e-06),
       ('11005', 1.0621345836668982e-06),
       ('10314', 1.0181320845974756e-06), ('10275', 9.774141511002257e-07),
       ('11411', 9.016721531139528e-07), ('11363', 8.999806292565243e-07),
       ('11004', 8.756033858971873e-07), ('11251', 8.510621093200615e-07),
       ('11362', 8.432389360390409e-07), ('10302', 6.229061698796461e-07),
       ('10304', 4.811722644375764e-07), ('10303', 3.9858531589570756e-07),
       ('10306', 3.35238520863961e-07), ('10312', 2.371058950758987e-07),
       ('11439', 1.227177538787054e-07), ('10310', 1.2047383886251106e-07),
       ('10278', 5.4692192909814625e-08),
       ('10308', 5.1804185662102945e-08),
       ('10307', 5.0353354379930926e-08), ('10309', 4.015947141855379e-08),
       ('11359', 2.447520817022592e-08), ('10124', 3.644953916698423e-09),
       ('10203', 0.0)],
      dtype=[('feature', 'S10'), ('importance', '<f8')])

In [27]:
df=pd.DataFrame(feature_sort)

In [29]:
df

     feature    importance
0       Hour  1.272940e-01
1      10019  1.182810e-01
2      10016  7.787883e-02
3      10022  6.468754e-02
4      10011  5.955492e-02
5      10001  5.597751e-02
6      10003  5.220136e-02
7       Temp  3.788924e-02
8    Weekday  3.508408e-02
9      10036  3.452552e-02
10     10023  3.267357e-02
11     10017  3.013724e-02
12     10021  2.717079e-02
13     10012  2.318214e-02
14     10010  2.314897e-02
15     10065  2.294632e-02
16     10014  1.752226e-02
17     10028  1.702042e-02
18     Month  1.677359e-02
19     10024  1.323093e-02
20     10018  1.310026e-02
21     10013  1.237412e-02
22     10025  1.124505e-02
23     10128  1.011024e-02
24     10009  1.000342e-02
25     10002  9.625872e-03
26     11369  8.365745e-03
27      Rain  4.140816e-03
28     10035  3.644765e-03
29     10075  3.323363e-03
..       ...           ...
173    11001  2.210691e-06
174    11428  2.189245e-06
175    11003  2.137235e-06
176    10464  2.091084e-06
177    10305  1.887673e-06
178    11451  1.822303e-06
179    11252  1.577214e-06
180    10115  1.382049e-06
181    11005  1.062135e-06
182    10314  1.018132e-06
183    10275  9.774142e-07
184    11411  9.016722e-07
185    11363  8.999806e-07
186    11004  8.756034e-07
187    11251  8.510621e-07
188    11362  8.432389e-07
189    10302  6.229062e-07
190    10304  4.811723e-07
191    10303  3.985853e-07
192    10306  3.352385e-07
193    10312  2.371059e-07
194    11439  1.227178e-07
195    10310  1.204738e-07
196    10278  5.469219e-08
197    10308  5.180419e-08
198    10307  5.035335e-08
199    10309  4.015947e-08
200    11359  2.447521e-08
201    10124  3.644954e-09
202    10203  0.000000e+00

[203 rows x 2 columns]

In [30]:
import sklearn.cross_validation as cv
x_train, x_test, y_train, y_test = cv.train_test_split(data, target, 
  test_size=2.0/10, random_state=0)

In [31]:
print x_train.shape

(490838, 203)

In [32]:
RFR1=RandomForestRegressor(max_features=14,n_estimators=300)
RFR1.fit(x_train, y_train)

/Users/shuozhang/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=14, max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=300, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [38]:
RFR1.score(x_train, y_train)

0.99597227970773394

In [39]:
RFR1.score(x_test, y_test)

0.9744864945331192

In [45]:
from sklearn.metrics import mean_squared_error
import math
math.sqrt(mean_squared_error(y_train, RFR1.predict(x_train)))

16.121384672409977

In [47]:
math.sqrt(mean_squared_error(y_test, RFR1.predict(x_test)))

40.61722668609526

In [33]:
feature_imprtance = zip(x_train.columns, RFR1.feature_importances_)
dtype = [('feature', 'S10'), ('importance', 'float')]
feature_imprtance = np.array(feature_imprtance, dtype = dtype)
feature_sort = np.sort(feature_imprtance, order='importance')[::-1]
df1=pd.DataFrame(feature_sort)

In [34]:
df1

     feature    importance
0       Hour  1.443652e-01
1      10019  1.129466e-01
2      10016  8.081394e-02
3      10022  6.361108e-02
4      10003  6.055554e-02
5      10011  5.840734e-02
6      10001  5.726639e-02
7    Weekday  3.719214e-02
8      10036  3.401524e-02
9      10017  2.981476e-02
10     10023  2.957173e-02
11     10021  2.932532e-02
12      Temp  2.580635e-02
13     10012  2.176571e-02
14     10010  2.151854e-02
15     10065  2.091538e-02
16     10014  1.771519e-02
17     10028  1.762282e-02
18     10018  1.333559e-02
19     10013  1.212472e-02
20     10024  1.207099e-02
21     10002  1.136422e-02
22     10025  1.131331e-02
23     Month  1.091107e-02
24     10009  1.037249e-02
25     10128  1.014850e-02
26     11369  8.341024e-03
27     10035  3.632485e-03
28     10075  3.545174e-03
29     10037  3.460359e-03
..       ...           ...
173    11001  8.053166e-07
174    10301  7.728214e-07
175    11003  7.158168e-07
176    10305  7.126724e-07
177    11411  6.759169e-07
178    11362  6.662232e-07
179    11428  6.473511e-07
180    11251  5.926397e-07
181    11451  5.369169e-07
182    10115  4.956111e-07
183    10275  4.574860e-07
184    11004  4.285587e-07
185    10314  4.198553e-07
186    10303  3.323037e-07
187    11252  3.208309e-07
188    10304  2.929545e-07
189    11363  2.173519e-07
190    10302  1.357091e-07
191    11005  1.257668e-07
192    10310  1.088424e-07
193    10306  1.039020e-07
194    11439  7.967739e-08
195    10312  6.768683e-08
196    10278  4.516196e-08
197    10308  3.866897e-08
198    10309  3.421764e-08
199    11359  2.556596e-08
200    10124  1.518595e-08
201    10307  7.399782e-09
202    10203  1.115203e-09

[203 rows x 2 columns]

In [40]:
df1.to_csv('importance.csv', sep='\t', encoding='utf-8')

In [43]:
RFR2=RandomForestRegressor(max_features=14,n_estimators=500)
RFR2.fit(x_train, y_train)

/Users/shuozhang/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=14, max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=500, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [48]:
RFR2.score(x_train, y_train)

0.9960088270267522

In [49]:
RFR2.score(x_test, y_test)

0.97451090051684952

In [50]:
math.sqrt(mean_squared_error(y_train, RFR2.predict(x_train)))

16.0480757008636

In [51]:
math.sqrt(mean_squared_error(y_test, RFR2.predict(x_test)))

40.59779500595372

In [ ]:
from __future__ import print_function
from __future__ import division

from sklearn.datasets import make_classification
from sklearn.cross_validation import cross_val_score
from sklearn.ensemble import RandomForestRegressor as RFR
from bayes_opt import BayesianOptimization

data=x_train
target=y_train

def rfrcv(n_estimators, min_samples_split, max_features):
    return cross_val_score(RFR(n_estimators=int(n_estimators),
                               min_samples_split=int(min_samples_split),
                               max_features=min(max_features, 0.999),
                               random_state=2),
                           data, target, 'mean_squared_error', cv=5).mean()

if __name__ == "__main__":

    rfrBO = BayesianOptimization(rfrcv, {'n_estimators': (300, 1000),
                                         'min_samples_split': (2, 25),
                                         'max_features': (0.1, 0.999)})
    rfrBO.maximize(init_points=2, n_iter = 10)
    print('Final Results')
    print('RFC: %f' % rfcBO.res['max']['max_val'])

In [ ]:
from __future__ import print_function
from __future__ import division

from sklearn.datasets import make_classification
from sklearn.cross_validation import cross_val_score
from sklearn.ensemble import RandomForestRegressor as RFR
from bayes_opt import BayesianOptimization

data=x_train
target=y_train

def rfrcv(n_estimators, min_samples_split, max_features):
    return cross_val_score(RFR(n_estimators=int(n_estimators),\
                               min_samples_split=int(min_samples_split),\
                               max_features=min(max_features, 0.999),\
                               random_state=2),\
                           data, target, 'mean_squared_error', cv=5).mean()

if __name__ == "__main__":

    rfrBO = BayesianOptimization(rfrcv, {'n_estimators': (500, 1000),\
                                         'min_samples_split': (2, 25),\
                                         'max_features': (0.1, 0.999)})
    rfrBO.maximize(init_points=2, n_iter = 10)
    print('Final Results')
    print('RFC: %f' % rfcBO.res['max']['max_val'])

In [28]:
df=step_1.sample(frac=0.0001)
target1=df[['count']]
target1.shape
data1=df[[col for col in step_1.columns if col not in ['count']]]
data1.shape

(61, 203)

In [38]:
target1.shape

(61, 1)

In [46]:
from __future__ import print_function
from __future__ import division
import xgboost as xgb
from sklearn.cross_validation import cross_val_score
from bayes_opt import bayesian_optimization

def xgboostcv(max_depth,
              learning_rate,
              n_estimators,
              gamma,
              min_child_weight,
              subsample,
              colsample_bytree,
              silent=True,
              nthread=-1):
    return cross_val_score(xgb.XGBRegressor(max_depth=int(max_depth),
                                            learning_rate=learning_rate,
                                            n_estimators=int(n_estimators),
                                            silent=silent,
                                            nthread=nthread,
                                            gamma=gamma,
                                            min_child_weight=min_child_weight,
                                            subsample=subsample,
                                            colsample_bytree=colsample_bytree),
                           data1,
                           target1,
                           "mean_squared_error",
                           cv=5).mean()

if __name__ == "__main__":
    
    xgboostBO = BayesianOptimization(xgboostcv,
                                 {'max_depth': (3, 10),
                                  'learning_rate': (0.01, 0.2),
                                  'n_estimators': (50, 1000),
                                  'gamma': (1., 0.01),
                                  'min_child_weight': (1, 10),
                                  'subsample': (0.5, 1),
                                  'colsample_bytree' :(0.5, 1)})
    xgboostBO.maximize(init_points=2, n_iter = 10)
    print('-'*53)
    print('Final Results')
    print('XGBOOST: %f' % xgboostBO.res['max']['max_val'])

Initialization
--------------------------------------------------------------------------------------------------------------------------------------------------
 Step |   Time |      Value |   colsample_bytree |     gamma |   learning_rate |   max_depth |   min_child_weight |   n_estimators |   subsample |
    1 | 00m11s | -92990.64135 |             0.7755 |    0.3952 |          0.1376 |      6.0739 |             4.0182 |       898.9586 |      0.9064 |
    2 | 00m10s | -102233.23691 |             0.5820 |    0.8763 |          0.1207 |      6.9955 |             2.4323 |       898.4566 |      0.6347 |
Bayesian Optimization
--------------------------------------------------------------------------------------------------------------------------------------------------
 Step |   Time |      Value |   colsample_bytree |     gamma |   learning_rate |   max_depth |   min_child_weight |   n_estimators |   subsample |
    3 | 00m14s | -101448.61671 |             0.9202 |    1.0000 |          0.0763 |      8.7081 |             3.2572 |       649.5265 |      0.7169 |
    4 | 00m06s | -88382.40135 |             0.8165 |    1.0000 |          0.0559 |      6.3638 |             2.7774 |       302.7132 |      0.6460 |
    5 | 00m07s | -94941.69301 |             0.7720 |    1.0000 |          0.1261 |      9.5796 |             4.6456 |       341.4628 |      0.9044 |
    6 | 00m06s | -87842.03429 |             0.7293 |    1.0000 |          0.0469 |      9.8017 |             5.8659 |       472.4035 |      0.8874 |
    7 | 00m07s | -94872.88472 |             0.5511 |    1.0000 |          0.0452 |      6.6803 |             4.4332 |       506.0708 |      0.9967 |
    8 | 00m05s | -81955.94505 |             0.5529 |    1.0000 |          0.0648 |      6.0065 |             9.3736 |       598.9755 |      0.7197 |
    9 | 00m07s | -106773.60540 |             0.6314 |    1.0000 |          0.1629 |      3.8843 |             8.6960 |       727.6042 |      0.8342 |
   10 | 00m04s | -97553.97374 |             0.5053 |    1.0000 |          0.1707 |      6.3052 |             2.0132 |       226.4823 |      0.8504 |
   11 | 00m06s | -103667.79315 |             0.8952 |    1.0000 |          0.1425 |      6.5142 |             7.4387 |       634.2920 |      0.6860 |
   12 | 00m06s | -74909.30335 |             0.5480 |    1.0000 |          0.0206 |      7.4135 |             1.9629 |       259.2506 |      0.8616 |
-----------------------------------------------------
Final Results
XGBOOST: -74909.303354

In [63]:
##neural network

In [65]:
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
scaler.fit(x_train)  
x_train1 = scaler.transform(x_train)  
x_test1 = scaler.transform(x_test)

In [1]:
from sklearn.neural_network import MLPRegressor

ImportError: cannot import name MLPRegressor

In [3]:
from sklearn.neural_network import MLPClassifier

ImportError: cannot import name MLPClassifier

In [2]:
from sklearn.neural_network import *
import sklearn.neural_network

In [8]:
help(sklearn.neural_network)

Help on package sklearn.neural_network in sklearn:

NAME
    sklearn.neural_network

FILE
    /Users/shuozhang/anaconda/lib/python2.7/site-packages/sklearn/neural_network/__init__.py

DESCRIPTION
    The :mod:`sklearn.neural_network` module includes models based on neural
    networks.

PACKAGE CONTENTS
    rbm

CLASSES
    sklearn.base.BaseEstimator(__builtin__.object)
        sklearn.neural_network.rbm.BernoulliRBM(sklearn.base.BaseEstimator, sklearn.base.TransformerMixin)
    sklearn.base.TransformerMixin(__builtin__.object)
        sklearn.neural_network.rbm.BernoulliRBM(sklearn.base.BaseEstimator, sklearn.base.TransformerMixin)

    class BernoulliRBM(sklearn.base.BaseEstimator, sklearn.base.TransformerMixin)
     |  Bernoulli Restricted Boltzmann Machine (RBM).
     |
     |  A Restricted Boltzmann Machine with binary visible units and
     |  binary hiddens. Parameters are estimated using Stochastic Maximum
     |  Likelihood (SML), also known as Persistent Contrastive Divergence (PCD)
     |  [2].
     |
     |  The time complexity of this implementation is ``O(d ** 2)`` assuming
     |  d ~ n_features ~ n_components.
     |
     |  Read more in the :ref:`User Guide <rbm>`.
     |
     |  Parameters
     |  ----------
     |  n_components : int, optional
     |      Number of binary hidden units.
     |
     |  learning_rate : float, optional
     |      The learning rate for weight updates. It is *highly* recommended
     |      to tune this hyper-parameter. Reasonable values are in the
     |      10**[0., -3.] range.
     |
     |  batch_size : int, optional
     |      Number of examples per minibatch.
     |
     |  n_iter : int, optional
     |      Number of iterations/sweeps over the training dataset to perform
     |      during training.
     |
     |  verbose : int, optional
     |      The verbosity level. The default, zero, means silent mode.
     |
     |  random_state : integer or numpy.RandomState, optional
     |      A random number generator instance to define the state of the
     |      random permutations generator. If an integer is given, it fixes the
     |      seed. Defaults to the global numpy random number generator.
     |
     |  Attributes
     |  ----------
     |  intercept_hidden_ : array-like, shape (n_components,)
     |      Biases of the hidden units.
     |
     |  intercept_visible_ : array-like, shape (n_features,)
     |      Biases of the visible units.
     |
     |  components_ : array-like, shape (n_components, n_features)
     |      Weight matrix, where n_features in the number of
     |      visible units and n_components is the number of hidden units.
     |
     |  Examples
     |  --------
     |
     |  >>> import numpy as np
     |  >>> from sklearn.neural_network import BernoulliRBM
     |  >>> X = np.array([[0, 0, 0], [0, 1, 1], [1, 0, 1], [1, 1, 1]])
     |  >>> model = BernoulliRBM(n_components=2)
     |  >>> model.fit(X)
     |  BernoulliRBM(batch_size=10, learning_rate=0.1, n_components=2, n_iter=10,
     |         random_state=None, verbose=0)
     |
     |  References
     |  ----------
     |
     |  [1] Hinton, G. E., Osindero, S. and Teh, Y. A fast learning algorithm for
     |      deep belief nets. Neural Computation 18, pp 1527-1554.
     |      http://www.cs.toronto.edu/~hinton/absps/fastnc.pdf
     |
     |  [2] Tieleman, T. Training Restricted Boltzmann Machines using
     |      Approximations to the Likelihood Gradient. International Conference
     |      on Machine Learning (ICML) 2008
     |
     |  Method resolution order:
     |      BernoulliRBM
     |      sklearn.base.BaseEstimator
     |      sklearn.base.TransformerMixin
     |      __builtin__.object
     |
     |  Methods defined here:
     |
     |  __init__(self, n_components=256, learning_rate=0.1, batch_size=10, n_iter=10, verbose=0, random_state=None)
     |
     |  fit(self, X, y=None)
     |      Fit the model to the data X.
     |
     |      Parameters
     |      ----------
     |      X : {array-like, sparse matrix} shape (n_samples, n_features)
     |          Training data.
     |
     |      Returns
     |      -------
     |      self : BernoulliRBM
     |          The fitted model.
     |
     |  gibbs(self, v)
     |      Perform one Gibbs sampling step.
     |
     |      Parameters
     |      ----------
     |      v : array-like, shape (n_samples, n_features)
     |          Values of the visible layer to start from.
     |
     |      Returns
     |      -------
     |      v_new : array-like, shape (n_samples, n_features)
     |          Values of the visible layer after one Gibbs step.
     |
     |  partial_fit(self, X, y=None)
     |      Fit the model to the data X which should contain a partial
     |      segment of the data.
     |
     |      Parameters
     |      ----------
     |      X : array-like, shape (n_samples, n_features)
     |          Training data.
     |
     |      Returns
     |      -------
     |      self : BernoulliRBM
     |          The fitted model.
     |
     |  score_samples(self, X)
     |      Compute the pseudo-likelihood of X.
     |
     |      Parameters
     |      ----------
     |      X : {array-like, sparse matrix} shape (n_samples, n_features)
     |          Values of the visible layer. Must be all-boolean (not checked).
     |
     |      Returns
     |      -------
     |      pseudo_likelihood : array-like, shape (n_samples,)
     |          Value of the pseudo-likelihood (proxy for likelihood).
     |
     |      Notes
     |      -----
     |      This method is not deterministic: it computes a quantity called the
     |      free energy on X, then on a randomly corrupted version of X, and
     |      returns the log of the logistic function of the difference.
     |
     |  transform(self, X)
     |      Compute the hidden layer activation probabilities, P(h=1|v=X).
     |
     |      Parameters
     |      ----------
     |      X : {array-like, sparse matrix} shape (n_samples, n_features)
     |          The data to be transformed.
     |
     |      Returns
     |      -------
     |      h : array, shape (n_samples, n_components)
     |          Latent representations of the data.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from sklearn.base.BaseEstimator:
     |
     |  __repr__(self)
     |
     |  get_params(self, deep=True)
     |      Get parameters for this estimator.
     |
     |      Parameters
     |      ----------
     |      deep: boolean, optional
     |          If True, will return the parameters for this estimator and
     |          contained subobjects that are estimators.
     |
     |      Returns
     |      -------
     |      params : mapping of string to any
     |          Parameter names mapped to their values.
     |
     |  set_params(self, **params)
     |      Set the parameters of this estimator.
     |
     |      The method works on simple estimators as well as on nested objects
     |      (such as pipelines). The former have parameters of the form
     |      ``<component>__<parameter>`` so that it's possible to update each
     |      component of a nested object.
     |
     |      Returns
     |      -------
     |      self
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from sklearn.base.BaseEstimator:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from sklearn.base.TransformerMixin:
     |
     |  fit_transform(self, X, y=None, **fit_params)
     |      Fit to data, then transform it.
     |
     |      Fits transformer to X and y with optional parameters fit_params
     |      and returns a transformed version of X.
     |
     |      Parameters
     |      ----------
     |      X : numpy array of shape [n_samples, n_features]
     |          Training set.
     |
     |      y : numpy array of shape [n_samples]
     |          Target values.
     |
     |      Returns
     |      -------
     |      X_new : numpy array of shape [n_samples, n_features_new]
     |          Transformed array.

DATA
    __all__ = ['BernoulliRBM']

In [ ]:
from __future__ import print_function
from __future__ import division
from sklearn.neural_network import MLPRegressor
from sklearn.cross_validation import cross_val_score
from bayes_opt import bayesian_optimization

def MLPRegressorcv(max_depth,
              learning_rate,
              n_estimators,
              gamma,
              min_child_weight,
              subsample,
              colsample_bytree,
              silent=True,
              nthread=-1):
    return cross_val_score(MLPRegressor(max_depth=int(max_depth),
                                            learning_rate=learning_rate,
                                            n_estimators=int(n_estimators),
                                            silent=silent,
                                            nthread=nthread,
                                            gamma=gamma,
                                            min_child_weight=min_child_weight,
                                            subsample=subsample,
                                            colsample_bytree=colsample_bytree),
                           data1,
                           target1,
                           "mean_squared_error",
                           cv=5).mean()

if __name__ == "__main__":
    
    xgboostBO = BayesianOptimization(xgboostcv,
                                 {'max_depth': (3, 10),
                                  'learning_rate': (0.01, 0.2),
                                  'n_estimators': (50, 1000),
                                  'gamma': (1., 0.01),
                                  'min_child_weight': (1, 10),
                                  'subsample': (0.5, 1),
                                  'colsample_bytree' :(0.5, 1)})
    xgboostBO.maximize(init_points=2, n_iter = 10)
    print('-'*53)
    print('Final Results')
    print('XGBOOST: %f' % xgboostBO.res['max']['max_val'])