In [3]:
import numpy as np
import pandas as pd
import os
os.chdir("/Users/shuozhang/Desktop/data")
df=pd.read_csv('nycmodeldata.csv', sep='\t', encoding='utf-8')

In [4]:
df.head()

   Unnamed: 0  Month  Weekday  Hour  Temp  Rain  zipcode  count
0          11      4        1     0  49.0   0.0    10001    375
1          12      4        1     0  49.0   0.0    10002    332
2          13      4        1     0  49.0   0.0    10003    521
3          14      4        1     0  49.0   0.0    10004     49
4          15      4        1     0  49.0   0.0    10005     55

In [6]:
len(set(df['zipcode']))

198

In [7]:
len(set(df['Weekday']))

7

In [8]:
len(set(df['Hour']))

24

In [9]:
zipcode=list(set(df['zipcode']))

In [10]:
Weekday=list(set(df['Weekday']))

In [26]:
Hour=list(set(df['Hour']))

In [73]:
Hour

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23]

In [74]:
zipcode1=zipcode*24*7

In [86]:
type(zipcode)

list

In [32]:
len(zipcode1)

33264

In [82]:
Hour1=map(lambda x: str(x), np.repeat(Hour,198))

In [83]:
Hour2=Hour1*7

In [91]:
Hour3=map(lambda x: int(x), Hour2)

In [92]:
len(Hour3)

33264

In [35]:
Weekday1=np.repeat(Weekday,198*24)

In [36]:
len(Weekday1)

33264

In [38]:
Month1=np.repeat([9], 198*7*24)

In [49]:
Rain=np.repeat([0], 198*7*24)

In [39]:
len(Month1)

33264

In [119]:
df1=pd.DataFrame(Month1, columns=['Month'])

In [120]:
df1['Weekday']=Weekday1
df1['Hour']=Hour3
df1['zipcode']=zipcode1

In [42]:
temp=pd.read_csv('temp.csv', sep=',', index_col=0)

In [45]:
temp=temp.reset_index()

In [58]:
temp.columns

Index([u'Hourly Temp', u'19-Sep', u'20-Sep', u'21-Sep', u'22-Sep', u'23-Sep',
       u'24-Sep', u'25-Sep'],
      dtype='object')

In [68]:
temp

    Hourly Temp  19-Sep  20-Sep  21-Sep  22-Sep  23-Sep  24-Sep  25-Sep
0             0      21      22      21      22      23      22      19
1             1      21      21      19      21      21      21      19
2             2      20      20      18      20      20      20      19
3             3      19      19      18      20      20      20      18
4             4      19      18      17      19      19      19      18
5             5      19      18      17      19      19      19      18
6             6      19      18      17      19      19      19      18
7             7      19      19      18      20      20      20      18
8             8      20      20      18      20      20      20      19
9             9      21      21      20      21      22      21      19
10           10      21      22      21      22      23      22      19
11           11      22      24      22      23      24      23      20
12           12      23      26      23      24      25      24      21
13           13      24      27      25      25      27      25      21
14           14      24      28      26      26      28      26      21
15           15      25      29      26      26      28      26      22
16           16      25      30      27      27      29      27      22
17           17      25      30      27      27      29      27      22
18           18      25      30      27      27      29      27      22
19           19      25      29      26      26      28      26      22
20           20      24      28      26      26      28      26      21
21           21      24      27      25      25      27      25      21
22           22      23      26      23      24      25      24      21
23           23      22      24      22      23      24      23      20

In [54]:
tl1=np.array(temp['25-Sep'])

In [55]:
t1=np.repeat(tl1,198)

In [59]:
tl2=np.array(temp['19-Sep'])
t2=np.repeat(tl2,198)
tl3=np.array(temp['20-Sep'])
t3=np.repeat(tl3,198)
tl4=np.array(temp['21-Sep'])
t4=np.repeat(tl4,198)
tl5=np.array(temp['22-Sep'])
t5=np.repeat(tl5,198)
tl6=np.array(temp['23-Sep'])
t6=np.repeat(tl6,198)
tl7=np.array(temp['24-Sep'])
t7=np.repeat(tl7,198)

In [64]:
Temp=np.concatenate((t1,t2,t3,t4,t5,t6,t7), axis=0)

In [65]:
len(Temp)

33264

In [121]:
df1['Temp']=Temp
df1['Rain']=Rain

In [122]:
dummies = pd.get_dummies(df1['zipcode'])

In [123]:
dummies.shape

(33264, 198)

In [124]:
df1.shape

(33264, 6)

In [134]:
df1.iloc[20000]

Month          9
Weekday        4
Hour           5
zipcode    10278
Temp          19
Rain           0
Name: 20000, dtype: int64

In [125]:
df2=pd.concat([df1,dummies], axis=1)

In [126]:
df2.head()

,Month,Weekday,Hour,zipcode,Temp,Rain,10001,10002,10003,10004,...,11428,11429,11430,11432,11433,11434,11435,11436,11439,11451
0,9,0,0,10270,19,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9,0,0,10275,19,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9,0,0,10278,19,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9,0,0,10280,19,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9,0,0,10281,19,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [135]:
df1.to_csv('predicitondata.csv', sep='\t')

In [128]:
df2.drop(['zipcode'], inplace=True, axis=1)

In [130]:
df2.head()

,Month,Weekday,Hour,Temp,Rain,10001,10002,10003,10004,10005,...,11428,11429,11430,11432,11433,11434,11435,11436,11439,11451
0,9,0,0,19,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9,0,0,19,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9,0,0,19,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9,0,0,19,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9,0,0,19,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [131]:
df2.to_csv('predicitondatafinal.csv', sep='\t')